syntax: glob

*ReSharper*
*backup*
*.csproj.user
*/obj/*
*.suo
*.orig
*/dummy.txt
*/UmbracoTraceLog.txt
*/TEMP/*
*/bin/*
*/App_Data/umbraco.config
*.debug.css
*/compiled/*
*Website/media/*
*.pubxml.user
*/imagecache/*
*.orig
*/*less.bak*
*DotSettings.user
*Website/App_Data/access.config
*Website/App_Data/access.xml
*Website/App_Data/Logs/*
*Website/App_Data/cache/*
*Website/node_modules
*Website/vendor
*Website/dist
*/App_Data/NuGetBackup/*
packages
*/App_Data/preview
*/App_Data/cache
.vs/*
*Website/npm-debug.log
*Website/App_Data/courier/
*Website/.git/
*Website/umbraco/
*Website/umbraco_client/
*Website/help/
MapBuilder.Website/App_Data/TEMP/
/MapBuilder.Website/Web.Debug.config
