@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.TextPage>
@using MapBuilder.Library.ExtensionMethods
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "LayoutMaster.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div style="height: 600px; width: 100%;">
            @Html.RenderMap("kort")
        </div>
    </div>
</div>